
</div>
<div class="page-footer">
  <div class="content-wrap">

    <footer class="footer-padding">
      <div class="footer">
        <p> ©  Made with ❤️ by Walt Tersly</p>
      </div>
    </footer>
  </div>
</div>
</body>
</html>
